<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">    
    <title></title> 
    <%-include ("./partials/head") %> 
</head>
<body>
<header>
    <%-include ("./partials/navigation") %>
</header>
    <section id="contenedor2">        
        <% elemento.forEach(function(elementomulti){ %>
            <h1 id="titulo"><%=elementomulti.nombre %></h1>
            <img src="imagenes/<%=elementomulti.imagen%>" width="350" height="480" id="imagenpeli">            
            <p id="descripcion" ><%=elementomulti.descripcion%></p>
            <a id=link href="<%=elementomulti.capturas%>">LINK</a>
        <% }); %> 
    </section>
    <%-include ("./partials/footer") %>    
</body> 
</html>  










    
    
